.product_page {
    max-width: 1920px;
    margin: 100px auto;
}

.product_page > .wrapper:first-child {
    display: grid;
    grid-template-columns: 40% 40% 20%;
    gap: 20px;
}

.product_page .wrapper .image {
    height:70%;
    margin: 0 auto;
}

.product_page .wrapper .heading {
    font-size: 32px;
    margin-bottom: 20px;
}

.product_page .wrapper .info_section {
    color: #444;
    font-weight: 200;
}

.product_page .wrapper .info_section .additional {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 1px solid lightgray;
    line-height: 1.8;
    padding-bottom: 20px;
}


.product_page .wrapper .info_section .additional .label {
    font-weight: 600;
}

.product_page .wrapper .info_section .delivery_info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
    padding-bottom: 10px;
    
}

.product_page .wrapper .info_section .delivery_info .type_delivery div {
    display: flex;
    gap: 20px;
    line-height: 1.8;
}

.product_page .wrapper .info_section .delivery_info .type_delivery .in_stock {
    color: green;
}

.product_page .wrapper .info_section .colored {
    color: #0071e3;
}

.product_page .wrapper .info_section .addition_delivery_description {
    border-bottom: 1px solid lightgray;
    padding-bottom: 20px;
    font-size: 14px;
}

.product_page .wrapper .info_section .product_description_label {
    margin: 20px auto;
    text-align: center;
    font-weight: 600;
}


.product_page .wrapper .price_section .wrapper {
    text-align: center;
} 

.product_page .wrapper .price_section .wrapper .price {
    position: relative;
}

.product_page .wrapper .price_section .wrapper .price .whole {
    font-size: 42px;
    line-height: 36px;
}

.product_page .wrapper .price_section .wrapper .cents {
    font-size: 18px;
    line-height: 18px;
    margin-left: -2px;
    position: absolute;
}
